**steps**
1. identify row with headers
2. map headers to apppriate column number
3. read the line above (a) component till total/sub-total
4. remove all rows with null (expect for yeild)
5. add to full_data

In [2]:
import numpy as np 
import pandas as pd

In [3]:
def read_excel_file(file_path):
    file_ext = file_path.split(".")[-1].lower()
    if file_ext == "xlsb":
        try:
            return pd.read_excel(file_path, sheet_name=None, engine="pyxlsb", dtype=str)
        except Exception as e:
            print(f"❌ Error reading {file_path} (XLSB format): {e}")
            return None
    elif file_ext in ["xls", "xlsx"]:
        try:
            return pd.read_excel(file_path, sheet_name=None, dtype=str)
        except Exception as e:
            print(f"❌ Error reading {file_path} (XLS/XLSX format): {e}")
            return None
    else:
        print(f"⚠️ Unsupported file format: {file_path}")
        return None

**test - get_scheme_name**

In [57]:
import os
path = r"data\\data\\Mirae Asset Mutual Fund"
tables = os.listdir(path)
all_sheets = []

for filepath in tables:
    df_raw = read_excel_file(f"{path}/{filepath}")
    if df_raw is None:
        continue
    for sheet_name, sheet_df in df_raw.items():
        # if sheet_name not in sheets_to_avoid:
        all_sheets.append(sheet_df)

In [24]:
from core.amcparser import AMCPortfolioParser
t = AMCPortfolioParser(config={"ISIN_file":"ISIN/fundisin.xlsx"})

In [43]:
df = all_sheets[0]
rows = df.fillna(" ").agg(" ".join , axis = 1).apply(str.lower)
df = df.iloc[rows[rows.apply(lambda x : "stock exchang" not in x or not ("index" in x and "stock" in x))].index.to_list()]
t._get_investment_type(df , 35 , 1)

DMART270325
SBICARD270325
BAJAJFINSV270325
nan

31

In [ ]:
rows[rows.apply(lambda x : "grand total" in x)].index.to_list()[0]

int

In [55]:
for (index ,row ) in df.iloc[2:5].iterrows():
    print(type(index))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
look = t.isin_lookup
def get_fund_isin(fund_name):
        import re 
        import pandas as pd
        import nltk
        nltk.download("stopwords")
        from nltk.corpus import stopwords
        tstopwords = {}
        removestopwords = lambda x : x #" ".join([word for word in x.lower().split(" ") if word not in tstopwords])
        transform = lambda x : re.sub(r"[^a-zA-z0-9]","",x).lower()

        fund_name = removestopwords(fund_name)
        fund_name = transform(fund_name).split("fund")[0]
        

        fund_names = pd.Series(look.keys()).astype(str)

        mask = fund_names.apply(lambda x : "iciciprudentialallsea" in transform(removestopwords(x)))
        candidate_fund_names = fund_names[mask].to_list()

        print(fund_name)
        print(candidate_fund_names)

        if len(candidate_fund_names):
            return look.get(candidate_fund_names[0])
        else:
            return None
print(get_fund_isin("ICICI Prudential All Seasons Bond Fund"))

iciciprudentialallseasonsbond
['icici prudential all seasons bond fund']
INF109K01GM1

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vaibh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
import re 
re.sub(r"(?<!\w)(nan)+(?!\w)",""," i001 -dnang nan nannan ", flags=re.IGNORECASE)

' i001 -dnang   '

In [ ]:
"0".isdigit()

True

In [73]:
for idx , df in enumerate(all_sheets):
    try:
        print(idx , " -- " , df.columns[1].strip())
    except Exception as e:
        continue

0  --  Mirae Asset Nifty 1D Rate Liquid ETF - Growth
1  --  Mirae Asset Nifty 200 Alpha 30 ETF
2  --  Mirae Asset Nifty India New Age Consumption ETF Fund of Fund
3  --  Mirae Asset Nifty India New Age Consumption ETF
4  --  Mirae Asset Nifty EV and New Age Automotive ETF
5  --  Mirae Asset Nifty IT ETF
6  --  Mirae Asset Nifty LargeMidcap 250 Index Fund
7  --  Mirae Asset Global X Artificial Intelligence & Technology ETF Fund of Fund
8  --  Mirae Asset Global X Artificial Intelligence & Technology ETF Fund of Fund
9  --  Mirae Asset Banking and PSU Fund (Formerly Known as Mirae Asset Banking and PSU Debt Fund)
10  --  Mirae Asset Corporate Bond Fund
11  --  Mirae Asset Crisil IBX Gilt Index - April 2033 Index Fund
12  --  Mirae Asset Liquid Fund (Formerly Known as Mirae Asset Cash Management Fund)
13  --  Mirae Asset Equity Allocator Fund of Fund
14  --  Mirae Asset Equity Savings Fund
15  --  Mirae Asset Nifty 100 ESG Sector Leaders ETF (MAESGETF)
16  --  Mirae Asset Flexi Cap Fund
17  --  Mirae Asset Focused Fund
18  --  Mirae Asset NYSE FANG + ETF Fund of Fund
19  --  Mirae Asset Global Electric & Autonomous Vehicles ETFs Fund of Fund
20  --  Mirae Asset Healthcare Fund
21  --  Mirae Asset Hang Seng TECH ETF Fund of Fund
22  --  Mirae Asset Hang Seng TECH ETF
23  --  Mirae Asset Long Duration Fund
24  --  Mirae Asset Nifty India Manufacturing ETF Fund of Fund
25  --  Mirae Asset Money Market Fund
26  --  Mirae Asset Multicap Fund
27  --  Mirae Asset Nifty 50 ETF (MAN50ETF)
28  --  Mirae Asset Nifty Midcap 150 ETF
29  --  Mirae Asset Nifty AAA PSU Bond Plus SDL Apr 2026 50:50 Index Fund
30  --  Mirae Asset Nifty SDL June 2028 Index Fund
31  --  Mirae Asset Nifty Financial Services ETF (MAFSETF)
32  --  Mirae Asset Nifty 100 Low Volatility 30 ETF
33  --  Mirae Asset Silver ETF
34  --  Mirae Asset Short Duration Fund (Formerly Known as Mirae Asset Short Term Fund)
35  --  Mirae Asset S&P 500 TOP 50 ETF Fund of Fund (MASPF)
36  --  Mirae Asset S&P 500 TOP 50 ETF (MASPTOP50)
37  --  Mirae Asset ELSS Tax Saver Fund (Formerly Known as Mirae Asset Tax Saver Fund)
38  --  Mirae Asset Ultra Short Duration Fund
39  --  Mirae Asset Nifty Metal ETF
40  --  Mirae Asset Great Consumer Fund
41  --  Mirae Asset Great Consumer Fund
42  --  Mirae Asset Nifty MidSmallcap400 Momentum Quality 100 ETF
43  --  Mirae Asset Large Cap Fund
44  --  Mirae Asset Nifty MidSmallcap400 Momentum Quality 100 ETF Fund of Fund
45  --  Mirae Asset Nifty 50 Index Fund
46  --  Mirae Asset Nifty PSU Bank ETF
47  --  Mirae Asset BSE Sensex ETF (Formerly Known as Mirae Asset S&P BSE Sensex ETF)
48  --  Mirae Asset Nifty Smallcap 250 Momentum Quality 100 ETF
49  --  Mirae Asset Nifty Smallcap 250 Momentum Quality 100 ETF Fund Of Fund
50  --  Mirae Asset Nifty Total Market Index Fund

**test over**

In [ ]:
all_sheets = []

df_raw = read_excel_file(path)
if df_raw is None:
    pass
for sheet_name, sheet_df in df_raw.items():
    # if sheet_name not in sheets_to_avoid:
    all_sheets.append(sheet_df)

In [ ]:
df = all_sheets[0]
df = df.dropna(how='all')
df.reset_index(drop=True , inplace = True)
rows = df.fillna(" ").agg("".join , axis = 1)
df = df.iloc[rows[rows.apply(lambda x : "listing on stock exchange" not in x.lower())].index.to_list()]
df.reset_index(drop=True , inplace = True)

In [ ]:
for df in all_sheets:
    try:
        print(list(filter(lambda x : "unnamed" not in x.lower() and "icici" in x.lower() , df.iloc[0,:].astype(str).to_list())))
    except Exception as e:
        print(e)
        continue

['ICICI Prudential Balanced Advantage Fund']

In [ ]:
df.iloc[0,:].to_list()

[nan,
 'ICICI Prudential Balanced Advantage Fund',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [ ]:
def fetch_header_row(df :pd.DataFrame) -> list[str]: 
    rows = df.astype(str).agg(' '.join, axis=1)
    idx = rows[rows.apply(lambda x: "instrument" in x.lower())].index.tolist()[0]
    header_row = df.iloc[idx,:].fillna("NULL")
    header_row = [(header_row.iloc[col]) for col in range(header_row.shape[0])]
    return header_row

In [ ]:
header_row = fetch_header_row(df)
header_row

['NULL',
 'ISIN',
 'Coupon (%)',
 'Name Of the Instrument',
 'Industry+ /Rating',
 'Quantity',
 'Market/ Fair Value (Rs. in Lacs.)',
 '% to NAV',
 'Yield',
 '~YTC (AT1/Tier 2 bonds)',
 'Derivative\n% to NAV',
 'Unhedged\n% to NAV']

In [ ]:
while "NULL" in header_row:
    start = None
    for i in range(len(header_row)):
        if start == None and header_row[i] != "NULL":
            start = i
            break

    for i in range(start+1 , len(header_row)):
        if header_row[i] != "NULL":
            end = i
            break
    alter1 = df.iloc[:,start:end].fillna("").agg("".join,axis = 1)
    alter2 = df.drop(df.columns[start:end],axis = 1)
    df = pd.concat([alter1 , alter2] , axis = 1)

    header_row = fetch_header_row(df)

            
header_row

['ISIN',
 'Coupon (%)',
 'Name Of the Instrument',
 'Industry+ /Rating',
 'Quantity',
 'Market/ Fair Value (Rs. in Lacs.)',
 '% to NAV',
 'Yield',
 '~YTC (AT1/Tier 2 bonds)',
 'Derivative\n% to NAV',
 'Unhedged\n% to NAV']

## **Step 2**

In [ ]:
base_headers = ["Name of Instrument","ISIN" , "Industry" , "Yield" , "Quantity" , "Market Value" , "Net Asset Value (NAV)"]

In [ ]:
import requests
def generate_embedding(text:str) -> list[float]:
    url = "https://lamhieu-lightweight-embeddings.hf.space/v1/embeddings"
    headers = {
        "accept": "application/json",
        "Content-Type": "application/json"
    }
    data = {
        "model": "snowflake-arctic-embed-l-v2.0",
        "input": text
    }

    response = requests.post(url, headers=headers, json=data)
    if response.ok:
        return response.json()["data"][0]["embedding"]
    else:
        raise Exception("No response")

In [ ]:
test_header_row=["Company/Issuer/Instrument Name", "Industry/Rating","Quantity","ISIN","Gibbrish" , "Exposure/Market Value", "yeild to Instrument","% to Nav", "Cupon"]

In [ ]:
def header_mapper(header_row , * , base_headers = ["Name of Instrument","ISIN" , "Industry" , "Yield" , "Quantity" , "Market Value" , "Net Asset Value (NAV)"]) -> {str:int}:
    import numpy as np
    from sklearn.metrics.pairwise import cosine_similarity

    header_map = dict()

    base_embeddings = np.array([generate_embedding(value) for value in base_headers])
    header_row_embeddings = np.array([generate_embedding(value) for value in header_row])
    # Compute cosine similarity (shape: 5 x 10)
    similarity_matrix = cosine_similarity(base_embeddings, header_row_embeddings)

    # For each base vector, find the index of the most similar header
    most_similar_indices = np.argmax(similarity_matrix, axis=1)

    # Optionally, get the similarity score too
    most_similar_scores = np.max(similarity_matrix, axis=1)

    # Print results
    for i, (idx, score) in enumerate(zip(most_similar_indices, most_similar_scores)):
        print(f"Base vector {i} ie {base_headers[i]} is most similar to header {idx} ie {header_row[idx]} with score {score:.4f}")
        header_map[base_headers[i]] = int(idx)
        
    return header_map

In [ ]:
# header_mapper(test_header_row)

In [ ]:
header_map = header_mapper(header_row)
header_map

Base vector 0 ie Name of Instrument is most similar to header 2 ie Name Of the Instrument with score 0.9527
Base vector 1 ie ISIN is most similar to header 0 ie ISIN with score 1.0000
Base vector 2 ie Industry is most similar to header 3 ie Industry+ /Rating with score 0.6091
Base vector 3 ie Yield is most similar to header 7 ie Yield with score 1.0000
Base vector 4 ie Quantity is most similar to header 4 ie Quantity with score 1.0000
Base vector 5 ie Market Value is most similar to header 5 ie Market/ Fair Value (Rs. in Lacs.) with score 0.5944
Base vector 6 ie Net Asset Value (NAV) is most similar to header 6 ie % to NAV with score 0.5839

{'Name of Instrument': 2,
 'ISIN': 0,
 'Industry': 3,
 'Yield': 7,
 'Quantity': 4,
 'Market Value': 5,
 'Net Asset Value (NAV)': 6}

## **step 3**

## **step 4** read all lines in valid ranges

In [ ]:
import pandas as pd

def check_isin(val):
    s = str(val).lower().strip()
    s = re.sub("[^a-zA-Z0-9]" , "" , s)
    return s.startswith("in") and s[-1] in "0123456789"

def get_valid_periods(df , header_map):

    mask = df.iloc[:, header_map["ISIN"]].apply(check_isin).values

    # Find continuous True periods
    periods = []
    start = None

    for i, val in enumerate(mask):
        if val:
            if start is None:
                start = i
        else:
            if start is not None:
                periods.append((start, i - 1))
                start = None

    # Edge case: last element was True
    if start is not None:
        periods.append((start, len(mask) - 1))

    print("Passing periods:", periods)
    return periods

periods = get_valid_periods(df , header_map)

Passing periods: [(4, 58), (63, 65), (70, 71)]

In [ ]:
df

,0,"HDFC Flexi Cap Fund (An open ended equity scheme investing across large cap, mid cap & small cap stocks).2","HDFC Flexi Cap Fund (An open ended equity scheme investing across large cap, mid cap & small cap stocks).3","HDFC Flexi Cap Fund (An open ended equity scheme investing across large cap, mid cap & small cap stocks).4","HDFC Flexi Cap Fund (An open ended equity scheme investing across large cap, mid cap & small cap stocks).5","HDFC Flexi Cap Fund (An open ended equity scheme investing across large cap, mid cap & small cap stocks).6","HDFC Flexi Cap Fund (An open ended equity scheme investing across large cap, mid cap & small cap stocks).7","HDFC Flexi Cap Fund (An open ended equity scheme investing across large cap, mid cap & small cap stocks).8","HDFC Flexi Cap Fund (An open ended equity scheme investing across large cap, mid cap & small cap stocks).9",Income,Hybrid
0,Portfolio as on 31-Jan-2025Portfolio as on 31-...,Portfolio as on 31-Jan-2025,Portfolio as on 31-Jan-2025,Portfolio as on 31-Jan-2025,Portfolio as on 31-Jan-2025,Portfolio as on 31-Jan-2025,Portfolio as on 31-Jan-2025,Portfolio as on 31-Jan-2025,Portfolio as on 31-Jan-2025,NaN,NaN
1,ISIN,Coupon (%),Name Of the Instrument,Industry+ /Rating,Quantity,Market/ Fair Value (Rs. in Lacs.),% to NAV,Yield,~YTC (AT1/Tier 2 bonds),Derivative\n% to NAV,Unhedged\n% to NAV
2,EQUITY & EQUITY RELATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INE090A01021|,NaN,ICICI Bank Ltd.,Banks,49500000,620136,9.4,NaN,NaN,0,9.4
...,...,...,...,...,...,...,...,...,...,...,...
137,7) Total value and percentage of Illiquid Equi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,8) IDCW stands for Income Distribution cum Cap...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,9) Riskometer based on Scheme Portfolio and Po...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Scheme Riskometer:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Benchmark Riskometer:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
full_data = pd.DataFrame(columns= list(header_map.keys()) + ["type" , "scheme" , "amc name"])

In [ ]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
for (start_idx , end_idx) in periods:
    scheme_name = re.findall(r'\b[a-zA-Z-\\/\s]+\b', df[start_idx-1:start_idx].fillna("").agg("".join , axis = 1).iloc[0])[0]
    print("\n",scheme_name)

    for (index , row) in df.iloc[start_idx:end_idx+1].iterrows():
        values = header_map.copy()
        for (key , idx) in header_map.items():
            values[key] = row.iloc[idx]
        print(f"{index} ",end=" , ") # just to keep track

        full_data = pd.concat([full_data , pd.DataFrame([values])],ignore_index=True)
print("sheet over")

 Equity
4  , 5  , 6  , 7  , 8  , 9  , 10  , 11  , 12  , 13  , 14  , 15  , 16  , 17  , 18  , 19  , 20  , 21  , 22  , 23  , 24  , 25  , 26  , 27  , 28  , 29  , 30  , 31  , 32  , 33  , 34  , 35  , 36  , 37  , 38  , 39  , 40  , 41  , 42  , 43  , 44  , 45  , 46  , 47  , 48  , 49  , 50  , 51  , 52  , 53  , 54  , 55  , 56  , 57  , 58  ,
 Government Securities
63  , 64  , 65  ,
 Units issued by ReIT
70  , 71  , sheet over

In [ ]:
full_data = full_data.drop_duplicates()

In [ ]:
full_data

,Name of Instrument,ISIN,Industry,Yield,Quantity,Market Value,Net Asset Value (NAV),type,scheme,amc name
0,ICICI Bank Ltd.,INE090A01021|,Banks,NaN,49500000,620136,9.4,NaN,NaN,NaN
1,HDFC Bank Ltd.£,INE040A01034|,Banks,NaN,36000000,611550,9.27,NaN,NaN,NaN
2,Axis Bank Ltd.,INE238A01034|,Banks,NaN,56000000,552216,8.37,NaN,NaN,NaN
3,Kotak Mahindra Bank Limited,INE237A01028|,Banks,NaN,16500000,313714.5,4.76,NaN,NaN,NaN
4,Maruti Suzuki India Limited,INE585B01010|,Automobiles,NaN,2500000,307766.25,4.67,NaN,NaN,NaN
5,SBI Life Insurance Company Ltd.,INE123W01016|,Insurance,NaN,19500000,289302,4.39,NaN,NaN,NaN
6,Cipla Ltd.,INE059A01026|,Pharmaceuticals & Biotechnology,NaN,19200000,284044.8,4.31,NaN,NaN,NaN
7,Bharti Airtel Ltd.,INE397D01024|,Telecom - Services,NaN,16200000,263460.6,3.99,NaN,NaN,NaN
8,HCL Technologies Ltd.,INE860A01027|,IT - Software,NaN,12000000,207054,3.14,NaN,NaN,NaN
9,PIRAMAL PHARMA LTD,INE0DK501011|,Pharmaceuticals & Biotechnology,NaN,75597677,176066.99,2.67,NaN,NaN,NaN
10,Eicher Motors Ltd.,INE066A01021,Automobiles,NaN,2800000,145440.4,2.2,NaN,NaN,NaN
11,State Bank of India,INE062A01020,Banks,NaN,15000000,115935,1.76,NaN,NaN,NaN
12,Apollo Hospitals Enterprise Ltd.,INE437A01024,Healthcare Services,NaN,1625000,110670.63,1.68,NaN,NaN,NaN
13,Infosys Limited,INE009A01021,IT - Software,NaN,5771124,108485.59,1.64,NaN,NaN,NaN
14,JSW Steel Ltd.,INE019A01038,Ferrous Metals,NaN,11300000,106785,1.62,NaN,NaN,NaN
15,Bajaj Auto Limited,INE917I01010,Automobiles,NaN,1200000,106173.6,1.61,NaN,NaN,NaN
16,Tata Steel Ltd.,INE081A01020,Ferrous Metals,NaN,76500000,102984.3,1.56,NaN,NaN,NaN
17,Bosch Limited,INE323A01026,Auto Components,NaN,325000,93369.74,1.42,NaN,NaN,NaN
18,Hyundai Motor India Limited,INE0V6F01027,Automobiles,NaN,5600000,93942.8,1.42,NaN,NaN,NaN
19,InterGlobe Aviation Ltd.,INE646L01027,Transport Services,NaN,1924617,83227.18,1.26,NaN,NaN,NaN
20,Power Grid Corporation of India Ltd.,INE752E01010,Power,NaN,25000000,75412.5,1.14,NaN,NaN,NaN
21,Hindustan Aeronautics Limited,INE066F01020,Aerospace & Defense,NaN,1710000,67319.28,1.02,NaN,NaN,NaN
22,United Spirits Limited,INE854D01024,Beverages,NaN,4659326,66348.8,1.01,NaN,NaN,NaN
23,SAPPHIRE FOODS INDIA LIMITED,INE806T01020,Leisure Services,NaN,19500000,56472,0.86,NaN,NaN,NaN
24,Larsen and Toubro Ltd.,INE018A01030,Construction,NaN,1450000,51727.3,0.78,NaN,NaN,NaN
25,Dr. Lal Path Labs Ltd,INE600L01024,Healthcare Services,NaN,1756333,50109.06,0.76,NaN,NaN,NaN
26,Prestige Estates Projects Ltd.,INE811K01011,Realty,NaN,3700000,50301.5,0.76,NaN,NaN,NaN
27,Tech Mahindra Ltd.,INE669C01036,IT - Software,NaN,3000000,50233.5,0.76,NaN,NaN,NaN
28,Crompton Greaves Consumer Elec. Ltd.,INE299U01018,Consumer Durables,NaN,14350000,49277.9,0.75,NaN,NaN,NaN
29,CIE Automotive India Ltd,INE536H01010,Auto Components,NaN,9950800,46216.49,0.7,NaN,NaN,NaN
30,The Ramco Cements Ltd.,INE331A01037,Cement & Cement Products,NaN,5000000,45875,0.7,NaN,NaN,NaN
31,Varroc Engineering Limited,INE665L01035,Auto Components,NaN,7000000,38888.5,0.59,NaN,NaN,NaN
32,Mahindra & Mahindra Ltd.,INE101A01026,Automobiles,NaN,1202500,35952.95,0.55,NaN,NaN,NaN
33,Kalpataru Projects International Ltd,INE220B01022,Construction,NaN,3376045,35740.5,0.54,NaN,NaN,NaN
34,Lupin Ltd.,INE326A01037,Pharmaceuticals & Biotechnology,NaN,1500000,31206.75,0.47,NaN,NaN,NaN
35,ESCORTS LTD.,INE042A01014,"Agricultural, Commercial & Construction Vehicles",NaN,800000,28987.6,0.44,NaN,NaN,NaN
36,Metropolis Healthcare Ltd.,INE112L01020,Healthcare Services,NaN,1625000,29199.63,0.44,NaN,NaN,NaN
37,Nuvoco Vistas Corporation Ltd. (100% subsidiar...,INE118D01016,Cement & Cement Products,NaN,7284218,25531.18,0.39,NaN,NaN,NaN
38,Indusind Bank Ltd.,INE095A01012,Banks,NaN,2500000,24780,0.38,NaN,NaN,NaN
39,Ashok Leyland Ltd,INE208A01029,"Agricultural, Commercial & Construction Vehicles",NaN,11301906,24505.92,0.37,NaN,NaN,NaN
40,Birlasoft Limited,INE836A01035,IT - Software,NaN,4500000,24057,0.36,NaN,NaN,NaN
41,Cyient Ltd.,INE136B01020,IT - Services,NaN,1525000,22180.36,0.34,NaN,NaN,NaN
42,ITC LIMITED,INE154A01025,Diversified FMCG,NaN,4800000,21480,0.33,NaN,NaN,NaN
43,Bank of Baroda,INE028A01039,Banks,NaN,10000000,21339,0.32,NaN,NaN,NaN
44,Restaurant Brands Asia Limited,INE07T201019,Leisure Services,NaN,28500000,20699.55,0.31,NaN,NaN,NaN
45,JK Lakshmi Cement Ltd,INE786A01032,Cement & Cement Products,NaN,2500000,20102.5,0.3,NaN,NaN,NaN
46,Fsn Ecommerce Ventures Limited (Nykaa),INE388Y01029,Retailing,NaN,10581600,17872.32,0.27,NaN,NaN,NaN
47,Zee Entertainment Enterprises Ltd.,INE256A01028,Entertainment,NaN,13796542,14567.77,0.22,NaN,NaN,NaN
48,Reliance Industries Ltd.,INE002A01018,Petroleum Products,NaN,1000000,12651,0.19,NaN,NaN,NaN
49,Bharti Airtel Ltd. - PARTLY PAID UP SHARES,IN9397D01014,Telecom - Services,NaN,658973,7902.73,0.12,NaN,NaN,NaN
50,Delhivery Limited,INE148O01028,Transport Services,NaN,2364000,7589.62,0.12,NaN,NaN,NaN
51,Indigo Paints Limited,INE09VQ01012,Consumer Durables,NaN,547669,6940.06,0.11,NaN,NaN,NaN
52,Ramco Systems Ltd.,INE246B01019,IT - Software,NaN,1500000,5461.5,0.08,NaN,NaN,NaN
53,Whirlpool of India Ltd.,INE716A01013,Consumer Durables,NaN,428783,4887.27,0.07,NaN,NaN,NaN
54,ITC Hotels Limited,INE379A01028,Leisure Services,NaN,480000,782.16,0.01,NaN,NaN,NaN
55,7.38% GOI MAT 200627,IN0020220037,Sovereign,6.7116,29000000,29487.23,0.45,NaN,NaN,NaN
56,7.32% GOI MAT 131130,IN0020230135,Sovereign,6.7865,11000000,11334.16,0.17,NaN,NaN,NaN
57,7.37% GOI MAT 231028,IN0020230101,Sovereign,6.7356,10000000,10240.81,0.16,NaN,NaN,NaN
58,Nexus Select Trust REIT,INE0NDH25011,Realty,NaN,105000000,145572,2.21,NaN,NaN,NaN
59,Embassy Office Parks REIT,INE041025011,Realty,NaN,14000000,51819.6,0.79,NaN,NaN,NaN

In [ ]:
class A:
    def one(self):
        print("Hello")
        return 1

In [ ]:
aa = A()
def two(a,b):
    print(f"{a+b} two")
    return 2
aa.one = two

In [ ]:
aa.one(1,2)

3 two

2

In [ ]:
header_row

['ISIN',
 'Coupon (%)',
 'Name Of the Instrument',
 'Industry+ /Rating',
 'Quantity',
 'Market/ Fair Value (Rs. in Lacs.)',
 '% to NAV',
 'Yield',
 '~YTC (AT1/Tier 2 bonds)',
 'Derivative\n% to NAV',
 'Unhedged\n% to NAV']

In [ ]:
start = 0
for i in range(len(header_row)):
    if header_row[i] != "NULL":
        end = i
        alter = df.iloc[:,start:end].fillna("").agg("".join,axis = 1)
        alter2 = df.drop(df.columns[start:end],axis = 1)
        pd.concat([alter , alter2] , axis = 1 )
        start = i

In [ ]:
get_valid_periods(df , header_map)

Passing periods: [(14, 58), (63, 65), (70, 71)]

[(14, 58), (63, 65), (70, 71)]

In [ ]:
rows

0      Portfolio as on 31-Jan-2025Portfolio as on 31-...
1       ISINCoupon (%)Name Of the InstrumentIndustry+...
2                      EQUITY & EQUITY RELATED
3       (a) Listed / awaiting listing on Stock Exchan...
4                                       Equity
                             ...
139     7) Total value and percentage of Illiquid Equ...
140     8) IDCW stands for Income Distribution cum Ca...
141     9) Riskometer based on Scheme Portfolio and P...
142                         Scheme Riskometer:
143                      Benchmark Riskometer:
Length: 144, dtype: object